 <div class='back'>
<button><a href="/"> Вернуться на главную</a></button> 
 </div>
 <div class='doit'>
   <ul class="sport">
     <li class="emoji">BMI 16,5-18,49: недостаточная масса тела.</li>
     <li class="emoji">BMI 18,5-24,99: нормальный вес.</li>
     <li class="emoji">BMI 25-29,99: избыточная масса тела.</li>
     <li class="emoji">BMI более 30: разные степени ожирения</li>
   </ul>
 </div>
<form class="bmi" method="POST" action=''>
  <input type="text" placeholder="Your weight" name="weight" required>
  <input type="text" placeholder="Your height" name="height" required>
  <input type="submit">
</form>
 <div id="showbmi"></div>
