<div class='back'>
<button><a style ="text-decoration: none;" href="/"> Вернуться на главную</a></button>
</div>
<button id="exercise">Click me pleeeease!</button>
<input id="word" type="text" value="" />
<div class='doit'>
  <ul class="sport">
    <li class="emoji">biceps</li>
    <li class="emoji">avant-bras</li>
    <li class="emoji">triceps</li>
    <li class="emoji">grand dorsal</li>
    <li class="emoji">trapèze bas</li>
    <li class="emoji">lombaires</li>
    <li class="emoji">abdominaux</li>
  </ul>
</div>
<div>
  <img class="image" src="" alt="">
</div>
