<div class='back'>
<button><a style ="text-decoration: none;" href="/"> Вернуться на главную</a></button>
</div>
<form class="food" method="POST" action=''>
  <input type="text" placeholder="Category" name="category" required>
  <input type="submit">
</form>
<div class='doit'>
  <ul class="sport">
    <li class="emo">Pizza</li>
    <li class="emo">FastFood</li>
    <li class="emo">IceCream</li>
    <li class="emo">Wine</li>
    <li class="emo">Vegetables</li>
    <li class="emo">Pork</li>
    <li class="emo">Beer</li>
    <li class="emo">Soups</li>
    <li class="emo">Cheese</li>
    <li class="emo">Fruits</li>
    <li class="emo">Meat</li> 
  </ul>
</div>
<div class="forfood">
  <ul class='ulfood'>
    
  </ul>
</div>
