
   <section class="page-main">
       <div class="container">
        <p class="subtitle">Introducing</p>
        <div class="title">
            <h1 class="title_h1"><span>Revolutionary </span>fitness club for burning your calories</h1>
            <p class="title_text">In fat killer, we inspire and help you to look better!</p>
        </div>
        <div class="form">
            <h2 class="form_h2">Get your subscription</h2>
            <div class="form-item">
                <label for=""> Location </label>
                <select class="form_select" name="" id="">
                    <option value=""> Moscow, Russia </option>
                    <option value=""> St. Petersburg, Russia </option>
                    <option value=""> Kazan, Russia </option>
                </select>
            </div>
            <div class="form-item">
                <label for=""> Type </label>
                <select class="form_select" name="" id="">
                    <option value=""> 3 month </option>
                    <option value=""> 6 month </option>
                    <option value=""> 1 year </option>
                </select>
            </div>
            <div class="form-item">
                <label for=""> Instructor </label>
                <select class="form_select" name="" id="">
                    <option value=""> Oleg </option>
                    <option value=""> Yuriy </option>
                    <option value=""> Elena </option>
                </select>
            </div>
            <button class="btn" type="submit">GO</button>
           </div>
        </div>
       <img class="bg-image"src="/images/for mainp.jpeg" alt="bg-main">
   </section>
   <section class="page-space">
       <div class="container">
        <div class="page-space-head">
            <h2 class="title-h2">Services</h2>
        </div>
        <div class="spaces">
            <div class="spaces-item">
                <div class="spaces-cover">
                    <img src="/images/bmi.jpeg" alt="cover01" class="spaces-cover_img">
                    <a href="" class="spaces-cover-link"></a>
                </div>
                <h3 class="spaces-title">Get your BMI</h3>
                <div class="spaces-hover">
                    <h4 class="spaces-hover_title">Get your BMI</h4>
                    <p class="spaces-hover_text">You can get your BMI just by one click!</p>
                    <a class="spaces-hover_link" href="/bmi">Click here!</a>
                </div>
            </div>
            <div class="spaces-item">
                <div class="spaces-cover">
                    <img src="/images/exercise.jpeg" alt="cover01" class="spaces-cover_img">
                    <a href="" class="spaces-cover-link"></a>
                </div>
                <h3 class="spaces-title">Get your exercises</h3>
                <div class="spaces-hover">
                    <h4 class="spaces-hover_title">Get your exercises</h4>
                    <p class="spaces-hover_text">You can get your exercises just by one click!</p>
                    <a class="spaces-hover_link" href="/exercise">Click here!</a>
                </div>
            </div>
            <div class="spaces-item">
                <div class="spaces-cover">
                    <img src="/images/foodc.jpeg" alt="cover01" class="spaces-cover_img">
                    <a href="" class="spaces-cover-link"></a>
                </div>
                <h3 class="spaces-title">Check Calories in food</h3>
                <div class="spaces-hover">
                    <h4 class="spaces-hover_title">Food calories</h4>
                    <p class="spaces-hover_text">Calculate your calories!</p>
                    <a class="spaces-hover_link" href="/food">Check avaibility</a>
                </div>
            </div>
        </div>
        {{!-- <div id="showbmi"></div> --}}
       </div>
   </section>
   
   
